html {
  overflow-y: hidden;
}

#flack {
  margin-left: 5px;
  font-family: "Lato", sans-serif;
  font-size: x-large;
}

@keyframes hide {
  0% {
      opacity: 1;
      height: 100%;
      line-height: 100%;
      padding: 20px;
      margin-bottom: 10px;
  }
  75% {
      opacity: 0;
      height: 100%;
      line-height: 100%;
      padding: 20px;
      margin-bottom: 10px;
  }
  100% {
      opacity: 0;
      height: 0px;
      line-height: 0px;
      padding: 0px;
      margin-bottom: 0px;
  }
}


.notification {
  animation-name: hide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

#channels {
  transform: translateY(50px);
}

#column {
  height: calc(100vh - 88px);
}

.message_element {
  margin: 0.7rem 0 1px 0;
}

.message_author_repeated {
  margin: 1px 0;
}

.message_text {
  padding: 0.35rem 0.7rem;
  background-color: rgb(241, 240, 240);
  color: #1d2129;
  border-radius: 23px;
  display: inline-block;
  font-size: 14px;
  box-shadow: none;
}

.current_user {
  background-color: #0084ff;
  color: white;
}

.message_author {
  padding: 0 0.7rem;
  font-size: 12px;
}

.message_view {
  overflow-y: scroll;
  height: calc(100vh - 88px);
  padding: 0 0.7rem;
}

@media only screen and (max-width: 768px) {
  .message_view {
      height: calc(100vh - 124px);
  }
}

#message_form {
  transform: translateY(-10px);
}
